body,ul,li,
p{  

    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-family: Arial,
}
a{
    text-decoration: none;
    color: lavender;
}
h1{
    text-align: center;
    margin-top: 100px;
}
img{
    max-width: 100%;
    display: block;
}
.header{
    background-color: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 10px;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.menu li a{
    display: block;
    padding: 10px;
}
div{
    display: inline-block;
    background-color: rgb(169, 249, 255);
    border: 2px solid black;
    text-align: center;
    height: 350px;
    width: 300px;
    text-decoration: none;
}
/*css pra organizar minha lista */
.flex{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 800px;
}
.flex > div{
    flex: 1 1 200px;
    margin: 5px;
}
.txt{
    text-align: center;
    text-decoration: none;
    font-family: arial;
    color: #1d1e20;
}